.container{
    display: grid;
    grid-template-columns: repeat(40, 20px);
    grid-template-rows: repeat(20, 20px);
}

.square{
	background-color: rgb(29, 29, 29);
    width: 20px;
    height: 20px;
    border: 1px solid black;
}


.square:hover{
	background-color: green;
    transition: background-color 1s ease;
    cursor: pointer;
}